{% if not is_xhr|default(false) %}{% extends "base.html" %}{% endif -%}
{% block content %}
<div id="mainscreen">
	<div class="box">
		<div class="box-header">
			<span>Main Screen</span>
		</div>

		<div class="box-content">
			
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>Process Management</h2>
						<table id="table" class="table table-bordered table-intel">
							<thead>
								<tr>
									<th class="filter">Box</th>
									<th class="filter">Users</th>
									<th>Process Names</th>
								</tr>
							</thead>
							<tbody>

								{% for user in users %}
								<tr>
									<td>box</td>
									<td>{{ user }}</td>
									

									<td>

									{% for p in procs %}
										{% if p.user == user %}
											<a href="{{ url_for(".process", pid=p.pid) }}">{{ p.name.decode("utf-8") }} </a>
									 		&nbsp; | &nbsp;
									 	{% endif %}
									{% endfor %}
									</td>
								

								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>


			</div>

		</div>

	</div>


	<script>
    // Use the plugin once the DOM has been loaded.
    $(function () {
      // Apply the plugin 
      skip_updates = true;
      $('#table').excelTableFilter();

  });
</script>
</div>

{% endblock %}