{% if not is_xhr|default(false) %}{% extends "base.html" %}{% endif -%}
{% block content %}
<div id="mainscreen">
	<div class="box">
		<div class="box-header">
			<span>Main Screen</span>
		</div>

		<div class="box-content">
			
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>Some Box</h2>
						<table id="table" class="table table-bordered table-intel">
							<thead>
								<tr>
									<th class="filter">Users</th>
									<th>Process Names</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Users</td>
									

									<td class="filter">

									{% for p in procs %}
									{{ p.name.decode("utf-8") }}
									 &nbsp; 
									{% endfor %}
									</td>
								

								</tr>
								
							</tbody>
						</table>
					</div>
				</div>


			</div>

		</div>

	</div>


	<script>
    // Use the plugin once the DOM has been loaded.
    $(function () {
      // Apply the plugin 
      skip_updates = true;
      $('#table').excelTableFilter();

  });
</script>
</div>

{% endblock %}
